@model Livraria.Models.LivroModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>LivroModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Preco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Preco)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataPublicacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataPublicacao)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IdLivro }) |
    @Html.ActionLink("Back to List", "Index")
</p>
